<!DOCTYPE html>
<html lang = "en">

<head>
	
<title>Login</title>

<meta charset = "UTF-8">
<meta name = "viewport" content = "width=device-width, initial-scale=1">

<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity = "sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin = "anonymous">
<link rel = "stylesheet" href = "style.css">
<link rel = "icon" href = "TRT.png" type = "image/png">

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src = "https://www.paypal.com/sdk/js?client-id=ARcOwMAGt16tiqrX-7Q3Q5xmJA5NaKpJPjiBx64g8PmmyKZRdQhOaZUIfJMd1I-hXyLvMO6c49KXHTXq"></script>
<script src = "functions.js"></script>
	
</head>

<body>


	
	<!--Form for login--> 
	<form method = "post" action = "/auth">
	
		
		
		<div class = "input-group mb-3 container">
		
			<div class = "input-group-prepend">
			
				<span class = "input-group-text"> Login </span>
				
			</div>
			
			<input id = "Username" type = "text" class = "form-control form-control-lg" name = "username" placeholder = "Username" required>
			
			<input id = "Password" type = "password" class = "form-control form-control-lg" name = "password" placeholder = "Password" required>
			
			<div class = "input-group-append">
			
				<button class = "btn btn-secondary" type = "submit"> Submit </button>  
				
			</div>

		</div>
	
	</form>



</body>
</html>