<!DOCTYPE html>
<html id = "logInPage">
<!--Samuel Anozie, June 2, 2017. V0.1 Redesign August 2019.-->
<head>
<title>Log In | SchoolBoard</title>
<meta charset = "UTF-8"/>

	<!-- Bootstrap Links -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!--My Styles-->
	<link rel = stylesheet href = "styles.css"/>
	<link rel = "icon" href = "favicon.png" type = "image/jpg"/>

</head>
<body>
<span id = "backgroundContainer" class = "position-absolute"></span>
<div id = "loginFormContainer"  class = "container-fluid">
	<div id = "containerRow" class = "row justify-content-center">
		<div class = "col-12">
			<div class = "row justify-content-center">
				<div class = "text-center col-sm-12">
					<a href = "/index.html"><img class = "img-fluid" src = "whiteL.svg"/></a>
				</div>
			</div>
			<div class = "row justify-content-center">
				<div class = "col-11 text-center">
					<form action = "/auth" method = "post">
						<input class = "loginInput w-100" name = "username" type = "text" placeholder = "Username" required/><br/>
						<input class = "loginInput w-100" name = "password" type = "password" placeholder = "Password" required/><br/>
						<input type = "submit" value = "Log In"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
<%if(err){%> alert('<%=err%>')
<%}%>
</script>
</body>
</html>
