/*Font Links(from Google Fonts)*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Syncopate');

//Colors
$primaryColor: #164869;
$secondaryColor: #6AA5BD;
$tertiaryColor: #AE445D;
$greyColor: #6c757d;

//Fonts
$headerFontDecorative: 'Cinzel Decorative', serif;
$headerFont: 'Cinzel', serif;
$subFont: 'Raleway', sans-serif;

//mixins
@mixin center {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

//Cards that pop up at the beginning (each type is for different color)
.card {
	position: absolute;
	max-width: 50%;
	max-height: 100%;
	border: none;
}
.x-position:nth-of-type(1) {
	z-index: 0;
	margin-left: -13%;
}
.x-position:nth-of-type(2) {
	z-index: 2;
}
.x-position:nth-of-type(3) {
	z-index: 1;
	margin-left: 13%;
}
.card-primary {
	.card-header {
		background-color: $primaryColor;
		color: white;
		font-family: $subFont;
	}
	.card-title {
		font-family: $subFont;
		padding: 1rem;
		font-weight: 700;
	}
	.card-body {
		background-color: rgba(37, 85, 116, 0.75);
		color: white;
	}
	.card-btn {
		background: white;
		color: $primaryColor;
		width: 100%;
	}
}
.card-tertiary {
	.card-header {
		background-color: $tertiaryColor;
		color: white;
		font-family: $subFont;
	}
	.card-title {
		font-family: $subFont;
		padding: 1rem;
		font-weight: 700;
	}
	.card-body {
		background-color: rgba(90, 36, 49, 0.77);
		color: white;

	}
	.card-btn {
		background: white;
		color: $tertiaryColor;
		width: 100%;
	}
}
.card-quinary {
	.card-header {
		background-color: #4b385f;
		color: white;
		font-family: $subFont;
	}
	.card-title {
		font-family: $subFont;
		padding: 1rem;
		font-weight: 700;
	}
	.card-body {
		background-color: rgba(78, 60, 96, 0.8);
		color: white;

	}
	.card-btn {
		background: white;
		color: #4b385f;
		width: 100%;
	}
}
.card-title {
	font-size: 2rem;
}
img {
	width: 20vw;
	transform: translateX(40vw);
	margin-top: 2%;
	opacity: 0.6;
}
#shadow {
	height: 10%;
	border: 1px solid black;
	transform: translateY(30vh);
	bottom: 0;
	width: 100%;
}
html, body {
	height: 100%;
}
//div styles
#mission {
	height: 100vh;
	@include center;
	padding-left: 5%;
}
#floatingDivs {
	position: relative;
	height: 100%;
	@include center;
}
#floatContainer {
	position: relative;
	height: 100%;
	width: 100%;
	margin-top: -50vh;
}
#footer {
	opacity: 0.4;
	padding-bottom: 1%;
}

//text styles
#missionh1 {
	font-size: 4.5vw;
}
h2 {
	font-size: 7vw;
	font-family: $subFont;
	font-weight: 700;
}
span.gradient {
	background-image: linear-gradient(to right top, #164869, #1a4764, #1f4660, #22455b, #264457);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
p {
	font-family: $subFont;
	color: $primaryColor;
	font-size: 2rem;
	margin-bottom: 1rem;
}
#beta {
	color: #6B7225;
	font-weight: bold;
}
a {
	color: #6B7225;
}

//Media Queries
@media (max-width: 1000px) {
	#floatingDivs {
		display: none;
	}
}
