/*Font Links(from Google Fonts)*/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900");
.center-container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.poster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.posterPassive {
  height: 100%;
  width: 100%;
  margin: 0;
}

.navbar {
  height: 8vh;
  list-style-type: none;
  margin: 0 5rem;
}

.nav-item {
  height: 100%;
}

.nav-link {
  color: #164869;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  opacity: 0.5;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav-link:hover {
  opacity: 1;
  color: #164869;
}

.card {
  position: absolute;
  max-width: 50%;
  max-height: 100%;
  border: none;
}

.x-position:nth-of-type(1) {
  z-index: 0;
  margin-left: -13%;
}

.x-position:nth-of-type(2) {
  z-index: 2;
}

.x-position:nth-of-type(3) {
  z-index: 1;
  margin-left: 13%;
}

.card-primary .card-header {
  background-color: #164869;
  color: white;
  font-family: "Raleway", sans-serif;
}

.card-primary .card-title {
  font-family: "Raleway", sans-serif;
  padding: 1rem;
  font-weight: 700;
}

.card-primary .card-body {
  background-color: rgba(37, 85, 116, 0.9);
  color: white;
}

.card-primary .card-btn {
  background: white;
  color: #164869;
  width: 100%;
}

.card-tertiary .card-header {
  background-color: #AE445D;
  color: white;
  font-family: "Raleway", sans-serif;
}

.card-tertiary .card-title {
  font-family: "Raleway", sans-serif;
  padding: 1rem;
  font-weight: 700;
}

.card-tertiary .card-body {
  background-color: rgba(90, 36, 49, 0.77);
  color: white;
}

.card-tertiary .card-btn {
  background: white;
  color: #AE445D;
  width: 100%;
}

.card-quinary .card-header {
  background-color: #4b385f;
  color: white;
  font-family: "Raleway", sans-serif;
}

.card-quinary .card-title {
  font-family: "Raleway", sans-serif;
  padding: 1rem;
  font-weight: 700;
}

.card-quinary .card-body {
  background-color: rgba(78, 60, 96, 0.8);
  color: white;
}

.card-quinary .card-btn {
  background: white;
  color: #4b385f;
  width: 100%;
}

.card-title {
  font-size: 2rem;
}

#floatingDivs {
  position: relative;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#floatContainer {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: -50vh;
}

html,
body {
  height: 100%;
}

#mission {
  height: 92vh;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer {
  opacity: 0.4;
  padding-bottom: 1%;
}

#heroText {
  position: relative;
  bottom: 0;
}

h2 {
  font-size: calc(3rem + 2vw);
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

p {
  font-family: "Raleway", sans-serif;
  color: #164869;
  font-size: calc(1rem + 0.5vw);
  margin-bottom: 1rem;
}

#beta {
  color: #6B7225;
  font-weight: 100;
}

a {
  color: #6B7225;
}

.gradient {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#164869), color-stop(#3f4b7a), color-stop(#6a497e), color-stop(#924474), to(#ae445d));
  background-image: linear-gradient(to right top, #164869, #3f4b7a, #6a497e, #924474, #ae445d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

@media (max-width: 1000px) {
  #floatingDivs {
    display: none;
  }
  #future {
    font-size: 10vw;
    margin-top: 20vw;
  }
  #mission {
    text-align: center;
  }
  #footer {
    margin-top: 5%;
  }
  #logo {
    width: 60vw;
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
  }
}

@media (max-width: 1400px) {
  #floatContainer {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
}
/*# sourceMappingURL=index.css.map */